---
import Section from "@/components/Section.astro";
---

<Section>
  <a href="/Escolaridad4to.pdf" download="EscolaridadAgustinTorres.pdf">
    <h1 class="es">Escolaridad</h1>
    <h1 class="en hide">Academic Record</h1>
  </a>
  <p class="es">Descarga mi escolaridad y ve que materias he cursado.</p>
  <p class="en hide">Download my academic record to review the courses I have completed.</p>
</Section>

<style>
    a :hover{
        text-decoration: underline;
    }
  @media print {
    a, p {
      display: none;
    }
  }
</style>
